@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
.navbar-links{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    height: 100;
}
.navbar{
    background-color: #7848F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
*{
    font: "Montserrat", sans-serif;
}
.app-name{
    color: white;
    margin-left: 10rem;
}

li{
    height: 100%;
    display: inline;
    
}
a{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}
.nav-link {
    color: white;
    font-size: 1.3rem;
    height: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}
.active{
  color: white;
    font-size: 1.3rem;
    height: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.active, .nav-link:hover{
    background-color: #5a2fcf;
}
.profile-image{
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 100%;
    height:3rem;
    display:block;
    margin: auto;
    padding: auto;
  }
  .fa-arrow-right-from-bracket{
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
  }
  #iconLi{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #iconLi:hover{
    background-color: #5a2fcf;
  }