@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.booking-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

    .booking-body::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

.forms-container {
    background-color: #F9F9F9;
    border-radius: 1rem;
    max-width: 100%;
    width: 50rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    flex-shrink: 0;
    padding: 0rem 1rem 3rem;
}


.summary-container {
    background-color: #F4F4F6;
    width: 100%;
    height: 50rem;
    margin-top: -4rem;
    margin-left: 1rem;
    overflow-y: auto;
    flex-shrink: 0;
}

.booking-h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #131315;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    padding: 2rem;
}

.summary-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #131315;
    margin-bottom: 1.5rem;
    text-align: start;
    margin-left: 2rem;
    margin-top: 1rem;
}

.bookings-form {
    background-color: #F9F9F9;
    margin-top: -1rem;
}

.booking-form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -15rem; 
    width: 100%; 
    max-width: 25rem;
}

.forms-label {
    font-size: 1rem;
    font-weight: normal;
    color: #131315;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
}

.booking-input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #FFFFFF;
    box-sizing: border-box;
}
    .booking-input:focus {
        border-color: #7848F4; 
        box-shadow: 0 0 8px rgba(120, 72, 244, 0.3); 
        transform: scale(1.02); 
        outline: none; 
    }


.booking-button {
    width: 100%; 
    max-width: 30%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background-color: #7848F4;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    margin-left: -25rem; 
}

    .booking-button:hover {
        background-color: #5a2fcf;
        transform: scale(1.05);
    }

.summary-details {
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-weight: normal; 
    margin-top: -0.2rem;
}

    .summary-details p {
        text-align: start;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: #131315;
        font-weight: normal; 
        margin-top: 0;
    }

    .summary-location,
    .summary-hours {
        font-size: 0.9rem;
        color: #131315;
        margin-top: 0.5rem;
    }

    .summary-hours span {
        display: block;
        margin-top: 0.2rem;
    }

.booking-event-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0; 
    padding: 0;
    margin-top: 1.5rem;
}